section{
    display: flex;
    height: 100vh;
    width: 100%;
    /* background-color: blue; */
}
section>.welcome{
    background-color:darkcyan;
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section>.welcome>.content{
        /* background-color:aqua; */

}
section>.welcome>.content>h1{
    font-size: 50px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
section>.welcome>.content>p{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(199, 243, 243);
}
section>.welcome>.content>button{
    background-color: darkcyan;
    height: 50px;
    width: 200px;
    border-radius: 25px 25px;
    border: 2px 2px solid white;
    color: rgb(199, 243, 243);
}




section>.login{
    
    background-color: aliceblue;
    width: 60%;
    height: 100%;

}
section>.login{
    display: flex;
    justify-content: center;
    align-items: center;
}
section>.login>.form{


}


section>.login>.form>h1{
    font-size: 40px;
    color: darkcyan;
}

section>.login>.form>.icons{
    padding-left: 15%;
    width: 70%;
    display: flex;
    justify-content: space-around;
}
section>.login>.form>.icons{
    font-size: 20px;
}
section>.login>.form>p{
    padding-left: 10%;
    padding-top: 10px;
    opacity: 0.6;
}
section>.login>.form>form>div{
    display: flex;
    align-items: center;
    
    height: 45px;
    width: 330px;
    background-color: darkseagreen;
    border-radius: 10px 10px ;
}
section>.login>.form>form>div>input{
    background-color: darkseagreen;
    border: none;

}
section>.login>.form>form>div>i{
    padding-left: 
    10px;
}

section>.login>.form>form>button{
    
    background-color: darkcyan;
    height: 50px;
    width: 200px;
    border-radius: 25px 25px;
    border: 2px 2px solid white;
    color: rgb(199, 243, 243);
}